//
// Project variables
//

// dimensions
$max-width: 1040px !default;
$pulldown-menu-width: 200px !default;

// fonts
$base-font-weight: normal !default;
$base-font-size: 100% !default;
$base-line-height: 1.3 !default;
$base-font-color: #444 !default;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// breakpoints
$bp-small: "min-width: 768px" !default;
$bp-medium: "min-width: 960px" !default;
$bp-medium-large: "min-width: 1140px" !default;
$bp-large: "min-width: 1200px" !default;
$desktop-only-breakpoint: "min-width: 960px" !default;
$mobile-only-breakpoint: "max-width: 959px" !default;

// grid, content areas
$default-grid-gutter: 2% !default;
$masthead-brand-flex-col-width: 3 !default;
$masthead-navigation-flex-col-width: 9 !default;
$content-flex-col-width: 8 !default;
$sidebar-flex-col-width: 4 !default;
$page-wrapper-margin: 2em auto 0 auto !default;

// misc
$inner-wrapper-padding: 0 1.5em !default;
$masthead-background: #eee !default;
